{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Incorrect password </p>
            {% endif %}
            <div class="card" id="top">

                <div class="card-header text-center" id="login">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="card-body">

                        <form action="/accounts/login/" method="post">
                            <p>{% csrf_token %}</p>
                            {% bootstrap_form form%}

                            <div class="form-group">
                                <input type="submit" class="btn btn-light btn-sm" value="Log in" style="padding-left: 100px;padding-right: 100px; background-color:#3897f0;color:whitesmoke;">
                            </div>

                            <input type="hidden" name="next" value="{{next}}">

                        </form>

                    </div>
                    <p style="color:salmon">Don't have an account? <a href="/accounts/register/">sign-up</a></p>
                </div>
            </div>
        </div>
        <!-- empty div -->
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
{% endblock %}