{%extends 'all-grammy/base.html'%}
{% block content %}
{{block.super}}

<div class="container-fluid">
    <h1 style="margin-left: 35%;font-family: 'Lobster', cursive;
    ">INSTAGRAM</h1>

    {% for item in image %}
    <div class="row">
        <div class="col-md-6">

            <a href="profile/{{item.user.username}}/">
                <div  style="margin-top: 10px;font-weight: bold;font-size: x-large;font-family: 'Lobster', cursive;
                            ">
                    <h4>{{item.user.username}}</h4>
                </div>
            </a>
        </div>
    </div>
    {% for item in image %}
    <img class="card-img-top img-responsive" src="{{item.Image.url}}" style="height:300px;width:450px;border-radius:40%;"
        alt="Card image cap" />

    <div class="card-body">
        <div class="row" id="like">
            <div class="">
                <span class="likes">
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;"></i><span class="count"><br>5
                    </span>Likes
                </span>
            </div>
        </div>
        {% endfor %}
        <p><strong>{{item.user.username}}</strong> {{item.Image_caption}}</p>
        <p class="card-text" style="font-size:x-large;color:black;"><small class="text-muted">Uploaded
                {{item.pub_date|timesince}}</small></p>
        <h5><strong>Comments</strong></h5>
        <a class="view-more"></a>
        {% for comment in item.comment.all %}
        <li class="comment-list__comment" style="list-style: none;">
            <a href="{% url 'profile' }" class="user">
                <strong>{{ comment.user.username }}</strong>
            </a>
            <span class="comment">{{ comment.name }}</span>
        </li>
        {% endfor %}

        {% if request.user.is_authenticated %}
        <section class="input-row">
            <i class="fa # submit-like" aria-hidden="true"></i>
            <div class="comment-input-wrapper">
                <form action="{% url 'comment' image_id=item.id %}" method="post">
                    {% csrf_token %}
                    <input class="add-comment" name="name" id="comment{{item.id}}" type="text" placeholder="Add a comment...">
                </form>
            </div>
        </section>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}