
{% extends 'all-grammy/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="font2">Search for {{message}}</h2>
        </div>
    </div>
    <div class="row">
        {% if profile %}
        <h1>Hey</h1>
            {% for user in profile %}
            <div class="col-md-3 home-images search-results">
                {% if user.profile.Profile_photo %}
                <img src="{{profile_details.Profile_photo.url}}" alt="profile-photo">
                {% else %}

                {% endif %}
                <p>{{user.email}}</p>
                <p class="username">{{user.username}} </p>
                <p><a class="btn btn-outline-primary" href="{% url 'profile' username=user.user.username %}">View Profile</a></p>
            </div>
            {% endfor %}
        {% else %} 
            <div class="col-md-12 text-center">
                <h4>No results for {{message}} </h4>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}